<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452951127823-9vvu503c9thb41qfm6pqd5u2ke8pbovn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452951127823-9vvu503c9thb41qfm6pqd5u2ke8pbovn</string>
	<key>API_KEY</key>
	<string>AIzaSyBeg0nJs0EW1nUBwjpPN9EXCXyHWO1Ypr0</string>
	<key>GCM_SENDER_ID</key>
	<string>452951127823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.lightcafe.iynetsuper.stg2</string>
	<key>PROJECT_ID</key>
	<string>iy-netsuper-dxe</string>
	<key>STORAGE_BUCKET</key>
	<string>iy-netsuper-dxe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452951127823:ios:1f7ff027eec69a6fb4707a</string>
</dict>
</plist>